/*=======================================
Importing fonts 
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");

/*=======================================
Custom variables 
=======================================*/
:root {
  /* Color palatte */
  --clr-primary-500: #19a7ce;
  --clr-secondary-500: #146c94;
  --clr-neutral-500: #ddf2f8;
  --clr-neutral-200: #e8f6fa;
  --clr-bg: #f6f1f1;
  --clr-accent: #01131b;
  --clr-inverted-accent: #fefdfd;

  --shadow: rgba(0, 0, 0, 0.5);

  /* Font pair */
  --ff-heading: "Oswald";
  --ff-body: "Quicksand";

  /* Font size */
  --fs-h1: clamp(1.75rem, 3vw, 4rem);
  --fs-h2: clamp(1.25rem, 2.25vw, 2.5rem);
  --fs-h3: clamp(1rem, 2vw, 1.5rem);
  --fs-p: clamp(0.875rem, 1.25vw, 1rem);

  /* Font weight */
  --fw-bold: 800;
  --fw-semi-bold: 700;
  --fw-regular: 500;
  --fw-light: 400;

  /* Desktop margin/paddings */
  --body-padding-lg: 5em;
  --body-padding-sm: 3em;
  --body-padding-xs: 2em;

  /* Content gap */
  --content-gap-lg: 2em;
  --content-gap-sm: 1em;
  --content-gap-xs: 0.5em;

  --gap-lg: 2em;
  --gap-sm: 1.5em;
}

/*=======================================
Modern CSS Resets
=======================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
figure,
blockquote,
dl,
dd {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*=======================================
Utility classes
=======================================*/
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semi-bold);
}

p {
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  margin: 0;
}

strong {
  font-weight: var(--fw-bold);
}

.primary_btn {
  cursor: pointer;
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-secondary-500);
  color: var(--clr-inverted-accent) !important;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 1.75em;
  transition: 250ms ease;
}

a {
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
  text-decoration-skip-ink: auto;
  display: inline-block;
}

.section-title {
  color: var(--clr-secondary-500);
}

.section-details {
  color: var(--clr-accent);
  padding-block: var(--content-gap-sm);
}

::-webkit-scrollbar {
  inline-size: 0.75em;
}

::-webkit-scrollbar-track {
  background: var(--clr-neutral-200);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--clr-primary-500), var(--clr-secondary-500));
  border: 2px solid var(--clr-neutral-200);
  border-radius: 1em;
}

@media (min-width: 40em) {
  .primary_btn {
    padding: 1em 3.5em;
  }

  .section-details {
    padding-block: var(--content-gap-lg);
  }
}

/*=======================================
Layout classes
=======================================*/
.wrapper {
  inline-size: 80%;
  max-inline-size: 90em;
  margin: 0 auto;
}

.center_align {
  display: flex;
  align-items: center;
}

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}

.grid-auto_fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 40%), 1fr));
  gap: var(--gap-sm);
}

@media (min-width: 40em) {
  .flex_container {
    flex-direction: row;
    gap: var(--gap-lg);
  }

  .grid-auto_fit {
    gap: var(--gap-lg);
  }
}

/*=======================================
Header
=======================================*/
header {
  background-color: var(--clr-bg);
  min-block-size: 10vh;
  padding-block-start: var(--body-padding-xs);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-lg);
}

.logo > h2 {
  cursor: pointer;
  color: var(--clr-primary-500);
  transition: 250ms ease;
}

.primary_nav {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.primary_nav li {
  cursor: pointer;
  transition: 250ms ease;
}

.primary_nav .child_one {
  display: none;
}

.primary_nav a {
  color: var(--clr-secondary-500);
}

@media (min-width: 40em) {
  .primary_nav li:nth-child(1) {
    display: block;
  }

  .section-details {
    padding-block: var(--content-gap-lg);
  }
}

/*=======================================
Hero header
=======================================*/
.hero_header {
  background-color: var(--clr-bg);
  padding-block: var(--body-padding-xs);
}

.hero_header-left_col {
  order: 2;
}

.hero_header-left_col > h3 {
  color: var(--clr-secondary-500);
}

.hero_header-left_col > h1 {
  color: var(--clr-primary-500);
}

.hero_header-left_col > p {
  color: var(--clr-accent);
  font-weight: var(--fw-regular);
  padding-block: var(--content-gap-sm);
}

.experience_counter {
  inline-size: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}

.counter > h2 {
  font-size: var(--fs-h1);
  color: var(--clr-primary-500);
}

.counter > h3 {
  color: var(--clr-secondary-500);
}

@media (min-width: 40em) {
  .hero_header {
    padding-block: var(--body-padding-xs);
  }

  .hero_header-left_col {
    inline-size: 50%;
    order: 0;
  }

  .hero_header-right_col {
    inline-size: 45%;
  }

  .hero_header-left_col > p {
    padding-block: var(--content-gap-lg);
  }

  .experience_counter {
    gap: var(--content-gap-sm);
  }
}

/*=======================================
Banner
=======================================*/
.banner {
  background-color: var(--clr-secondary-500);
  padding-block: var(--body-padding-sm);
}

.banner-left_col > h2 {
  color: var(--clr-inverted-accent);
  margin-block-end: var(--content-gap-sm);
}

.typewriter_effect {
  position: relative;
}

.typewriter_effect::after {
  content: "|";
  position: absolute;
  right: -0.3em;
  animation: blink infinite 1s ease;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.banner-left_col > p {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-inverted-accent);
}

.banner-right_col {
  overflow: hidden;
  border-radius: 0.5em;
  position: relative;
}

.banner-right_col::before {
  content: "";
  inset: 0;
  position: absolute;
  background: var(--clr-accent);
  opacity: 0.6;
}

@media (min-width: 40em) {
  .banner-left_col {
    inline-size: 60%;
  }

  .banner-right_col {
    inline-size: 30%;
  }
}

/*=======================================
About
=======================================*/
.about {
  background-color: var(--clr-bg);
  padding-block: var(--body-padding-sm);
}

.service_card {
  background-color: var(--clr-neutral-500);
  color: var(--clr-secondary-500);
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 5px 5px 8px var(--shadow);
  padding: 1em;
  transition: 250ms ease;
}

.web_design {
  background-color: var(--clr-secondary-500);
  color: var(--clr-inverted-accent);
}

@media (min-width: 40em) {
  .about {
    padding-block: var(--body-padding-lg);
  }

  .services {
    inline-size: 40%;
  }

  .about-content {
    inline-size: 50%;
  }
}

@media (max-width: 50em) {
  .about .flex_container {
    flex-direction: column;
  }
  .services {
    inline-size: 80%;
  }

  .about-content {
    inline-size: 100%;
  }
}

/*=======================================
Testimonial
=======================================*/
.testimonial {
  background-color: var(--clr-neutral-500);
  padding-block: var(--body-padding-sm);
  display: block;
  flex-direction: column;
}

.testimonial_content {
  inline-size: 100%;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transition: 250ms ease;
}

.client {
  color: var(--clr-secondary-500);
}

.testify {
  font-weight: var(--fw-regular);
  padding-block: var(--content-gap-lg);
}

.dots {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.slide_dot {
  inline-size: 0.75em;
  block-size: 0.75em;
  background-color: var(--clr-primary-500);
  border: none;
  border-radius: 50%;
  opacity: 0.6;
}

.active_dot {
  inline-size: 2em;
  border-radius: 0.5em;
  opacity: 1;
}

.testimonial_content.slide-in-left,
.testimonial_content.slide-in-right {
  opacity: 0;
}

.testimonial_content.slide-in-left {
  animation: slideInLeft 0.5s ease forwards;
}
.testimonial_content.slide-in-right {
  animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (min-width: 40em) {
  .testimonial_content {
    inline-size: 60%;
  }

  .section_content {
    inline-size: 60%;
  }
}

/*=======================================
Portfolio
=======================================*/
.portfolio {
  background-color: var(--clr-bg);
  padding-block: var(--body-padding-sm);
  text-align: center;
}

.section_content {
  inline-size: 100%;
  margin: 0 auto;
}

.gallery_filter {
  inline-size: 100%;
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  display: flex;
  gap: var(--content-gap-sm);
  flex-wrap: wrap;
  justify-content: space-around;
  margin: var(--content-gap-lg);
  margin-inline: auto;
}

.filter_btn {
  background-color: transparent;
  color: var(--clr-secondary-500);
  border: none;
}

.active_filter_btn {
  cursor: pointer;
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-secondary-500);
  color: var(--clr-inverted-accent) !important;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 1.75em;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}

.gallery_images {
  columns: 4 20em;
  gap: 0.5em;
  opacity: 0;
}

.gallery_images.hidden_gallery {
  opacity: 0;
  transform: translateY(6rem);
}

.gallery_images.animate_gallery {
  animation: fadeSlideUp 1s ease-out forwards;
}

.img_card {
  position: relative;
  overflow: hidden;
  border: solid 2px var(--clr-primary-500);
  border-radius: 0.5em;
  margin-block-end: 0.5em;
}

.load_more {
  margin-block-start: var(--gap-lg);
  margin-inline: auto;
}

@media (min-width: 40em) {
  .portfolio {
    padding-block: var(--body-padding-lg);
  }

  .portfolio_description {
    inline-size: 80%;
    margin: 0 auto;
  }

  .gallery_filter {
    inline-size: 45%;
    justify-content: space-around;
  }

  .gallery {
    margin-top: var(--content-gap-lg);
  }
}

@media (max-width: 50em) {
  .gallery_filter {
    inline-size: 90%;
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*=======================================
Contact
=======================================*/
.contact {
  background-color: var(--clr-neutral-200);
  padding-block: var(--body-padding-sm);
}

.contact-left_col {
  position: relative;
  inline-size: 100%;
  display: none;
  border-radius: 1em;
  overflow: hidden;
}

.contact-left_col::after {
  content: "";
  background: var(--clr-accent);
  position: absolute;
  inset: 0;
  opacity: 0.7;
  z-index: 1;
}

.contact-right_col {
  inline-size: 100%;
}

.contact_info {
  margin-block: var(--content-gap-sm);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact_info > a {
  font-size: calc(var(--fs-p) * 0.25em);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-primary-500);
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 1em;
  transition: 250ms ease;
}

.contact_info > a > i {
  font-size: var(--fs-h3);
}

.social_media {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-sm);
}

.social_media > a {
  display: inline-block;
  color: var(--clr-accent);
  font-size: calc(var(--fs-h3) + 0.5em);
  line-height: 1;
  background-color: var(--clr-inverted-accent);
  border-radius: 50%;
  inline-size: 1.6em;
  block-size: 1.6em;
  padding: 0.35em;
  transition: 250ms ease;
}

.newsletter {
  padding-block: var(--content-gap-lg);
}

.newsletter > h3 {
  color: var(--clr-secondary-500);
}

.newsletter > p {
  font-weight: var(--fw-regular);
  padding-block: var(--content-gap-sm);
}

form {
  inline-size: 100%;
  max-inline-size: 20em;
  position: relative;
  block-size: 3.5em;
  border: 3px solid var(--clr-primary-500);
  border-radius: 2em;
  overflow: hidden;
}

form > input {
  font-family: var(--ff-body);
  font-size: calc(var(--fs-p) - 0.25rem);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-bg);
  color: var(--clr-primary-500) !important;
  inline-size: 100%;
  block-size: 100%;
  padding-inline: 1em;
  padding-right: calc(3.5em * 1.25);
  border: none;
  outline: none;
}

form > input::placeholder {
  color: var(--clr-secondary-500);
  opacity: 0.5;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--clr-bg) inset;
  -webkit-text-fill-color: var(--clr-primary-500) !important;
}

form > button {
  cursor: pointer;
  position: absolute;
  background-color: var(--clr-primary-500);
  border: none;
  top: 2px;
  right: 2px;
  block-size: calc(100% - 4px);
  aspect-ratio: 1;
  border-radius: 50%;
  transition: 250ms ease;
}

form > button > i {
  font-size: var(--fs-h3);
  color: var(--clr-inverted-accent);
}

.invalid {
  border: 3px solid rgba(255, 42, 42, 0.705);
  background-color: rgba(255, 42, 42, 0.26);
}

.error {
  font-size: calc(var(--fs-p) - 0.25rem);
  color: rgb(255, 42, 42);
}

@media (min-width: 40em) {
  .contact {
    padding-block: var(--body-padding-lg);
  }

  .contact-right_col {
    inline-size: 50%;
  }

  .contact-left_col {
    inline-size: 40%;
    display: block;
  }

  .contact_info {
    margin-block: var(--content-gap-lg);
  }

  .newsletter > p {
    padding-block: var(--content-gap-lg);
  }
}

/*=======================================
Footer
=======================================*/
footer {
  background-color: var(--clr-secondary-500);
  padding-block: var(--body-padding-sm);
  text-align: center;
}

.footer_nav,
.page_policy {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.footer_nav .primary_nav a,
.page_policy .primary_nav a {
  font-weight: var(--fw-light);
  color: var(--clr-inverted-accent);
}

.footer_nav .primary_nav a {
  display: none;
}

.footer-logo {
  font-size: var(--fs-h1);
  color: var(--clr-inverted-accent);
}

.line {
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--clr-inverted-accent);
  opacity: 0.5;
  margin-block: var(--content-gap-sm);
}

.page_policy {
  text-align: center;
}

.page_policy .primary_nav {
  justify-content: center;
  display: none;
}

.copy_right {
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-inverted-accent);
  transition: 250ms ease;
}

@media (min-width: 40em) {
  footer {
    padding-block: var(--body-padding-lg);
  }

  .footer_nav,
  .page_policy {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page_policy .primary_nav {
    display: flex;
  }

  .footer_nav .primary_nav a {
    display: block;
  }
}

/*=======================================
Lightbox
=======================================*/
.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 100;
  inline-size: 100%;
  block-size: 100%;
  background-color: hsla(198, 93%, 5%, 0.7);
}

.lightbox_show {
  display: block;
}

.lightbox_wrapper {
  position: absolute;
  background-color: var(--clr-inverted-accent);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  inline-size: 90%;
  max-inline-size: 62.5em;
  border-radius: 1em;
  padding: var(--body-padding-xs);
}

.lightbox_details {
  position: relative;
  margin-block-end: var(--gap-sm);
}

.lightbox_title {
  color: var(--clr-primary-500);
}

.lightbox_category {
  font-weight: var(--fw-semi-bold);
}

.lightbox_link {
  color: var(--clr-secondary-500);
}

.lightbox_close {
  position: absolute;
  top: -1em;
  right: -1em;
}

.cross {
  font-size: 1.5em;
  opacity: 0.4;
  background-color: transparent;
  border: none;
}

.lightbox_preview {
  max-inline-size: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1em;
}

/*=======================================
Hover & focus visible transitions
=======================================*/
@media (hover: hover) {
  .primary_btn:hover,
  .primary_btn:focus-visible {
    transform: translateY(-0.25em);
    box-shadow: 2px 2px 8px var(--shadow);
  }

  .primary_btn:active {
    transform: translateY(0.25em);
  }

  .logo:hover h2 {
    transform: scale(1.05);
  }

  .primary_nav li:hover {
    transform: translateY(-0.25em);
  }

  .service_card:nth-child(odd):hover {
    transform: rotate(10deg) scale(1.05);
  }

  .service_card:nth-child(even):hover {
    transform: rotate(-10deg) scale(1.05);
  }

  .social_icon:hover,
  .social_icon:focus-visible {
    transform: translateY(-0.25em);
    filter: drop-shadow(2px 2px 4px var(--shadow));
  }

  .contact_info > a:hover,
  .contact_info > a:focus-visible {
    color: var(--clr-secondary-500);
  }

  .submit:hover,
  .submit:focus-visible {
    transform: scale(1.05);
    background-color: var(--clr-secondary-500);
  }

  .social_media > a:hover {
    transform: scale(1.1);
    background-color: var(--clr-primary-500);
    color: var(--clr-inverted-accent);
    box-shadow: 2px 2px 12px var(--clr-primary-500);
  }

  .copy_right:hover {
    transform: translateY(-0.25em);
  }
}

/*=======================================
Entrence animation
=======================================*/

.section_left,
.section_right {
  opacity: 0;
  transform: translateX(0);
  transition: all 800ms ease-out;
}

.section_left.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.section_right.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.section_left {
  transform: translateX(-100%);
}

.section_right {
  transform: translateX(100%);
}
