/*=======================================
Importing fonts 
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");

/*=======================================
Custom variables 
=======================================*/
:root {
  /* Color palatte */
  --clr-primary-500: #19a7ce;
  --clr-secondary-500: #146c94;
  --clr-neutral-500: #ddf2f8;
  --clr-neutral-200: #e8f6fa;
  --clr-bg: #f6f1f1;
  --clr-accent: #01131b;
  --clr-inverted-accent: #fefdfd;

  --shadow: rgba(0, 0, 0, 0.5);

  /* Font pair */
  --ff-heading: "Oswald";
  --ff-body: "Quicksand";

  /* Font size */
  --fs-h1: clamp(1.75rem, 3vw, 4rem);
  --fs-h2: clamp(1.25rem, 2.25vw, 2.5rem);
  --fs-h3: clamp(1rem, 2vw, 1.5rem);
  --fs-p: clamp(0.875rem, 1.25vw, 1rem);

  /* Font weight */
  --fw-bold: 800;
  --fw-semi-bold: 700;
  --fw-regular: 500;
  --fw-light: 400;

  /* Desktop margin/paddings */
  --body-padding-lg: 5em;
  --body-padding-sm: 3em;
  --body-padding-xs: 2em;

  /* Content gap */
  --content-gap-lg: 2em;
  --content-gap-sm: 1em;
  --content-gap-xs: 0.5em;

  --gap-lg: 2em;
  --gap-sm: 1.5em;
}

/*=======================================
Modern CSS Resets
=======================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
figure,
blockquote,
dl,
dd {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*=======================================
Utility classes
=======================================*/
h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semi-bold);
}

p {
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  margin: 0;
}

.primary_btn {
  cursor: pointer;
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-secondary-500);
  color: var(--clr-inverted-accent) !important;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 1.75em;
  transition: 250ms ease;
}

a {
  font-family: var(--ff-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
  text-decoration-skip-ink: auto;
  display: inline-block;
}

.section-title {
  color: var(--clr-secondary-500);
}

.section-details {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-accent);
  padding-block: var(--content-gap-sm);
}

@media (min-width: 40em) {
  .primary_btn {
    padding: 1em 3.5em;
  }

  .section-details {
    padding-block: var(--content-gap-lg);
  }
}

/*=======================================
Layout classes
=======================================*/
.wrapper {
  inline-size: 90%;
  max-inline-size: 90em;
  margin: 0 auto;
}

.center_align {
  display: flex;
  align-items: center;
}

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}

.grid-auto_fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 40%), 1fr));
  gap: var(--gap-sm);
}

@media (min-width: 40em) {
  .flex_container {
    flex-direction: row;
    gap: var(--gap-lg);
  }

  .grid-auto_fit {
    gap: var(--gap-lg);
  }
}

/*=======================================
Header
=======================================*/
header {
  background-color: var(--clr-bg);
  min-block-size: 10vh;
  padding-block-start: var(--body-padding-sm);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-lg);
}

.logo > h2 {
  cursor: pointer;
  color: var(--clr-primary-500);
  transition: 250ms ease;
}

.primary_nav {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
}

.primary_nav li {
  cursor: pointer;
  transition: 250ms ease;
}

.primary_nav .child_one {
  display: none;
}

.primary_nav a {
  color: var(--clr-secondary-500);
}

@media (min-width: 40em) {
  .primary_nav li:nth-child(1) {
    display: block;
  }

  .section-details {
    padding-block: var(--content-gap-lg);
  }
}

/*=======================================
Hero header
=======================================*/
.hero_header {
  background-color: var(--clr-bg);
  padding-block: var(--body-padding-xs);
}

.hero_header-left_col {
  order: 2;
}

.hero_header-left_col > h3 {
  color: var(--clr-secondary-500);
}

.hero_header-left_col > h1 {
  color: var(--clr-primary-500);
}

.hero_header-left_col > p {
  color: var(--clr-accent);
  font-weight: var(--fw-regular);
  padding-block: var(--content-gap-sm);
}

.experience_counter {
  inline-size: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}

.counter > h2 {
  font-size: var(--fs-h1);
  color: var(--clr-primary-500);
}

.counter > h3 {
  color: var(--clr-secondary-500);
}

@media (min-width: 40em) {
  .hero_header {
    padding-block: var(--body-padding-xs);
  }

  .hero_header-left_col {
    inline-size: 50%;
    order: 0;
  }

  .hero_header-right_col {
    inline-size: 45%;
  }

  .hero_header-left_col > p {
    padding-block: var(--content-gap-lg);
  }

  .experience_counter {
    gap: var(--content-gap-sm);
  }
}

/*=======================================
Banner
=======================================*/

/*=======================================
About
=======================================*/

/*=======================================
Testimonial
=======================================*/

/*=======================================
Portfolio
=======================================*/

/*=======================================
Contact
=======================================*/

/*=======================================
Footer
=======================================*/

/*=======================================
Hover & focus visible transitions
=======================================*/
@media (hover: hover) {
  .primary_btn:hover,
  .primary_btn:focus-visible {
    transform: translateY(-0.25em);
    box-shadow: 2px 2px 8px var(--shadow);
  }

  .primary_btn:active {
    transform: translateY(0.25em);
  }

  .logo:hover h2 {
    transform: scale(1.05);
  }

  .primary_nav li:hover {
    transform: translateY(-0.25em);
  }
}
